.card {
  position: relative;
  width: 300px; /* Aumente a largura do cart達o */
  height: 350px; /* Aumente a altura do cart達o */
  /* background-color: #f2f2f2; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  perspective: 1000px;
  /* box-shadow: 0 0 0 5px #ffffff80; */
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1);
  box-shadow: 0px 8px 16px #206BA5;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #F8F8F8;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card-image {
  width: 100%;
  height: 70%; /* Ajuste para ocupar 70% da altura do cart達o */
  object-fit: cover;
  border-radius: 1rem 1rem 0 0; /* Para ajustar os cantos superiores da imagem */
}

.card-text {
  padding: 10px;
  text-align: center;
  height: 30%; /* Ajuste para ocupar 30% da altura do cart達o */
}

.card-text h1 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
